In [11]:
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [12]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup_news = bs(html,'html.parser')

In [10]:
#print(soup_news.prettify())

In [5]:
item_list_ul = soup_news.select_one('ul.item_list')

In [6]:
slide_li = item_list_ul.select_one('li.slide')

In [7]:
soup_news.select_one('ul.item_list li.slide')  #this way you can get all info in one go, no comma, just space

<li class="slide"><div class="image_and_description_container"><a href="/news/8436/why-this-martian-full-moon-looks-like-candy/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Three views of the Martian moon Phobos were taken by NASA's 2001 Mars Odyssey orbiter." src="/system/news_items/list_view_images/8436_PIA23205_annotated-32x24.jpg"/></div><div class="bottom_gradient"><div><h3>Why This Martian Full Moon Looks Like Candy</h3></div></div></a><div class="list_text"><div class="list_date">May  9, 2019</div><div class="content_title"><a href="/news/8436/why-this-martian-full-moon-looks-like-candy/" target="_self">Why This Martian Full Moon Looks Like Candy</a></div><div class="article_teaser_body">For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.</div></div></div></li>

In [8]:
slide_li.find('div', class_='content_title')

In [9]:
#pull title
news_title = slide_li.find('div', class_='content_title').get_text()
print(news_title)

Why This Martian Full Moon Looks Like Candy

In [10]:
#pull article
news_para = slide_li.find('div', class_='article_teaser_body').get_text()
print(news_para)

For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.

##  #2-Pull Image

In [11]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [12]:
full_image = browser.find_by_id('full_image')
full_image.click()

In [13]:
more_info = browser.find_link_by_partial_text('more info')
more_info.click()

In [14]:
#put into bs and create soup object
#https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA00271
    
html2 = browser.html
soup_image = bs(html2,'html.parser')

In [15]:
soup_image.select_one('figure.lede a img')

<img alt="Researchers have found deposits of impact glass preserved in Martian craters, including Alga Crater, shown here. The detection is based on data from the Compact Reconnaissance Imaging Spectrometer for Mars (CRISM) on NASA's Mars Reconnaissance Orbiter." class="main_image" src="/spaceimages/images/largesize/PIA19673_hires.jpg" title="Researchers have found deposits of impact glass preserved in Martian craters, including Alga Crater, shown here. The detection is based on data from the Compact Reconnaissance Imaging Spectrometer for Mars (CRISM) on NASA's Mars Reconnaissance Orbiter."/>

In [16]:
soup_image.select_one('figure.lede a img').get('src')

'/spaceimages/images/largesize/PIA19673_hires.jpg'

In [17]:
partial_str = soup_image.select_one('figure.lede a img').get('src')

In [18]:
#concatenate the urls together
full_image_url = "https://www.jpl.nasa.gov" + partial_str
print(full_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19673_hires.jpg

## #3 - Pull Mars weather stats from NASA twitter feed

In [20]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [39]:
html_tweet = browser.html
soup_tweet = bs(html_tweet, 'html.parser')

In [43]:
soup_tweet.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 162 (2019-05-12) low -100.2ºC (-148.3ºF) high -20.3ºC (-4.5ºF)
winds from the SW at 4.5 m/s (10.1 mph) gusting to 14.3 m/s (32.0 mph)
pressure at 7.50 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/23uEPf5baF">pic.twitter.com/23uEPf5baF</a></p>

In [46]:
tweet_find = soup_tweet.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [47]:
print(tweet_find)

InSight sol 162 (2019-05-12) low -100.2ºC (-148.3ºF) high -20.3ºC (-4.5ºF)
winds from the SW at 4.5 m/s (10.1 mph) gusting to 14.3 m/s (32.0 mph)
pressure at 7.50 hPapic.twitter.com/23uEPf5baF

## #4 Mars Facts

In [48]:
import pandas as pd

In [50]:
url = 'https://space-facts.com/mars/'

In [52]:
mars_tables = pd.read_html(url)
mars_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [53]:
type(mars_tables)

list

In [57]:
mars_df = mars_tables[0]
mars_df.columns = ['Description', 'Value']
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [58]:
mars_df.set_index('Description', inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [59]:
mars_html_table = mars_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## #5-Mars Hemispheres

In [13]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [14]:
html = browser.html
soup_mars = bs(html,'html.parser')

In [18]:
image_links = browser.find_by_css('a.product-item h3')
print(image_links)

[<splinter.driver.webdriver.WebDriverElement object at 0x111be3080>, <splinter.driver.webdriver.WebDriverElement object at 0x111b561d0>, <splinter.driver.webdriver.WebDriverElement object at 0x111c0b208>, <splinter.driver.webdriver.WebDriverElement object at 0x111c0b278>]

In [19]:
for j in range(len(image_links)):
    browser.find_by_css('a.product-item h3')[j].click()
    samp_title = browser.find_by_css("h2.title").text
    print(samp_title)
    samp_image = browser.find_link_by_text('Sample').first
    print(samp_image['href'])
        # Finally, we navigate backwards
    browser.back()

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg